
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.websockets
.venv
venv/
ENV/

# Data Files (Generated or Large)
*.parquet
*.zip
*.gz
data/bronze/*
data/silver/*
data/gold/*
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

# Specific large files
full.csv.gz
bpe.parquet

# IDE
.idea/
.vscode/
*.swp
